button, input[type="submit"], input[type="button"], .button {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	color: black;

	background: whiteSmoke;

	padding: 10px 16px;

	box-shadow: 1px 1px 3px #CCC;

	border: none;
	border-radius: 30px;
	-webkit-transition: -webkit-transform 85ms ease-in-out;
}

button.active, input[type="submit"].active, input[type="button"].active, .button.active {
	-webkit-transform: scale3d(.92, .92, 0);
}