button, input[type="submit"], input[type="button"], .button {
	background: whiteSmoke;
	padding: 8px 14px;
	color: black;
	box-shadow: 1px 1px 3px #CCC;
	border: none;
	border-radius: 30px;
	-webkit-transition: -webkit-transform 85ms ease-in-out;
	font-weight: bold;
}

button.active, input[type="submit"].active, input[type="button"].active, .button.active {
	-webkit-transform: scale3d(.95, .95, 0);
}