button, input[type="submit"], input[type="button"], .button {
	background: whiteSmoke;
	padding: 8px 14px;
	color: black;
	box-shadow: 1px 1px 3px #CCC;
	border: none;
	border-radius: 2px;
	-webkit-transition: background 90ms linear;
}

button.active, input[type="submit"].active, input[type="button"].active, .button.active {
	background: rgb(238, 176, 176);
	color: black;
}